@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: Lato, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

h1 {
  font-family: Aleo !important;
}

body {
  background-color: #f0f3ee;
}

img {
  width: 100%;
}

th,
td {
  border-right: 1px solid #d9d9d9;
}

table {
  border-collapse: collapse;
}

td:nth-child(1),
th:nth-child(1) {
  border-left: 0;
}

th:nth-last-child(1),
td:nth-last-child(1) {
  border-right: 0;
}

tr:nth-last-child(1) td {
  border-bottom: 0;
}

td {
  padding-top: 0px !important;
  padding-bottom: 0 !important;
}

.layout-main-flex {
  display: flex;
}

.layout-main {
  margin-top: 100px;
  width: 82%;
}

.layout-nav {
  width: 17%;
}

.unmatched-deposit-table-main::-webkit-scrollbar {
  /* background-color: rgba(0, 86, 64, 0.65); */
  width: 11px;
}

.unmatched-deposit-table-main::-webkit-scrollbar-track {
  background-color: white;
}

.unmatched-deposit-table-main::-webkit-scrollbar-thumb {
  background: rgba(0, 86, 64, 0.65);
  border-radius: 4px;
}
